In [1]:
edad = 25
print(type(edad))  # <class 'int'>
altura = 1.75
print(type(altura))  # <class 'float'>
nombre = 'Ana'
print(type(nombre))  # <class 'str'>

<class 'int'>
<class 'float'>
<class 'str'>

In [2]:
# Diferentes formas de definir strings
saludo1 = 'Hola'
saludo2 = "Mundo"
# Concatenación (unir strings)
mensaje = saludo1 + ' ' + saludo2
print(mensaje)  # Hola Mundo

Hola Mundo

In [4]:
texto = 'ciencia de datos'
# Convertir a mayúsculas
print(texto.upper())  # CIENCIA DE DATOS
# Convertir a minúsculas
print(texto.lower())  # ciencia de datos
# Capitalizar primera letra
print(texto.capitalize())  # Ciencia de datos
# Contar ocurrencias de un carácter
print(texto.count('a'))  # 2
print(texto.count('ci'))  # 2
# Reemplazar texto
print(texto.replace('datos', 'información'))  # ciencia de información

CIENCIA DE DATOS
ciencia de datos
Ciencia de datos
2
2
ciencia de información

In [5]:
nombre = 'Carlos'
edad = 30
altura = 1.80
# f-string permite insertar variables directamente
mensaje = f'Me llamo {nombre}, tengo {edad} años y mido {altura}m'
print(mensaje) # Me llamo Carlos, tengo 30 años y mido 1.8m

Me llamo Carlos, tengo 30 años y mido 1.8m

In [6]:
# Crear una lista
temperaturas = [23.5, 25.0, 22.8, 24.1, 26.3]
# Acceder a elementos (índice comienza en 0)
print(temperaturas[0]) # 23.5 (primer elemento)
print(temperaturas[-1])  # 26.3 (último elemento)
# Obtener sublista (slicing)
print(temperaturas[1:3])  # [25.0, 22.8]

23.5
26.3
[25.0, 22.8]

In [7]:
# Definición de una lista
datos = [10, 20, 30]
# Agregar elemento al final
datos.append(40)
print(datos)  # [10, 20, 30, 40]
# Insertar en posición específica
datos.insert(0, 5)
print(datos)  # [5, 10, 20, 30, 40]
# Eliminar elemento
datos.remove(20)
print(datos)  # [5, 10, 30, 40]
# Longitud de la lista
print(len(datos))  # 4

[10, 20, 30, 40]
[5, 10, 20, 30, 40]
[5, 10, 30, 40]
4

In [9]:
# Crear un diccionario
estudiante = {
'nombre': 'María',
'edad': 22,
'carrera': 'Ingeniería de Sistemas',
'promedio': 16.5
}
# Acceder a valores
print(estudiante['nombre'])  # María
# Agregar nueva clave-valor
estudiante['universidad'] = 'UNI'
estudiante['nombre'] = 'Gustavo Coronel'
# Obtener todas las claves
print(estudiante.keys())
# Obtener todos los valores
print(estudiante.values())

María
dict_keys(['nombre', 'edad', 'carrera', 'promedio', 'universidad'])
dict_values(['Gustavo Coronel', 22, 'Ingeniería de Sistemas', 16.5, 'UNI'])

In [13]:
# Fija una temperatura
temperatura = 15
# Imprime: El clima es agradable
if temperatura > 30:
     print('Hace mucho calor')
elif temperatura > 20:
     print('El clima es agradable')
else:
     print('Hace frío')

Hace frío

In [14]:
# Iterar sobre una lista
ciudades = ['Lima', 'Cusco', 'Arequipa', 'Trujillo']
for ciudad in ciudades:
     print(f'Ciudad: {ciudad}')

# Iterar con índice
# Imprime: Número: 0, 1, 2, 3, 4
print(range(5))
for i in range(5):
     print(f'Indice: {i}')

Ciudad: Lima
Ciudad: Cusco
Ciudad: Arequipa
Ciudad: Trujillo
range(0, 5)
Indice: 0
Indice: 1
Indice: 2
Indice: 3
Indice: 4

In [15]:
# Fija el valor de contador
contador = 0
# Imprime: Contador: 0, 1, 2
while contador < 3:
    print(f'Contador: {contador}')
    contador += 1

Contador: 0
Contador: 1
Contador: 2

In [17]:
# Definir una función
def saludar(nombre):
     return f'Hola, {nombre}!'

# Llamar la función
mensaje = saludar('Gustavo Coronel')
print(mensaje)  # Hola, Ana!

Hola, Gustavo Coronel!

In [18]:
# Definir la función
def calcular_promedio(nota1, nota2, nota3):
     suma = nota1 + nota2 + nota3
     promedio = suma / 3
     return promedio

# Llamar la función
resultado = calcular_promedio(15, 17, 16)
print(f'Promedio: {resultado}')  # Promedio: 16.0

Promedio: 16.0

In [19]:
# Definir la función
def presentar(nombre, edad=18):
    return f'{nombre} tiene {edad} años'

# Llamadar la función
print(presentar('Luis'))        # Luis tiene 18 años
print(presentar('María', 25))   # María tiene 25 años

Luis tiene 18 años
María tiene 25 años

In [20]:
import math
# Utilizando la librería
print(math.pi)  # 3.141592653589793
print(math.sqrt(16))  # 4.0

3.141592653589793
4.0

In [21]:
import numpy as np
# Crear un array de NumPy (usando el alias 'np')
temperaturas = np.array([22.5, 24.0, 23.8, 25.2, 21.9])
print("Temperaturas:", temperaturas)
print("Promedio:", np.mean(temperaturas))

Temperaturas: [22.5 24.  23.8 25.2 21.9]
Promedio: 23.48

In [22]:
import pandas as pd
# Crear un DataFrame de Pandas (usando el alias 'pd')
datos = pd.DataFrame({
    'ciudad': ['Lima', 'Cusco', 'Arequipa'],
    'temperatura': [24.5, 18.2, 20.8],
    'humedad': [75, 45, 50]
})
# Imprimiendo el DataFrame
print("\nDataFrame:")
print(datos)

DataFrame:
     ciudad  temperatura  humedad
0      Lima         24.5       75
1     Cusco         18.2       45
2  Arequipa         20.8       50

In [25]:
from math import sqrt, pi
print(sqrt(25))  # 5.0
print("PI:", pi)  # 3.141592653589793

5.0
PI: 3.141592653589793

In [26]:
import numpy as np
# Crear un array (arreglo)
temperaturas = np.array([23.5, 25.0, 22.8, 24.1, 26.3])
# Operaciones vectorizadas
print(f'Promedio: {temperaturas.mean()}')
print(f'Máximo: {temperaturas.max()}')
print(f'Mínimo: {temperaturas.min()}')
print(f'Desviación estándar: {temperaturas.std()}')

Promedio: 24.34
Máximo: 26.3
Mínimo: 22.8
Desviación estándar: 1.217538500417954

In [29]:
# Datos de ventas de una semana
ventas = {
     'Lunes': 1500,
     'Martes': 1800,
     'Miércoles': 1200,
     'Jueves': 2100,
     'Viernes': 2500,
     'Sábado': 3000,
     'Domingo': 2200
}
# Análisis básico
total_semana = sum(ventas.values())
promedio_dia = total_semana / len(ventas)
mejor_dia = max(ventas, key=ventas.get)
# Reporte
print("REPORTE")
print(f'Total de ventas: S/. {total_semana}')
print(f'Promedio diario: S/. {promedio_dia:.2f}')
print(f'Mejor día: {mejor_dia} con S/. {ventas[mejor_dia]}')
# Encontrar días sobre el promedio
print('\nDías sobre el promedio:')
for dia, venta in ventas.items():
     if venta > promedio_dia:
         print(f'{dia}: S/. {venta}')

REPORTE
Total de ventas: S/. 14300
Promedio diario: S/. 2042.86
Mejor día: Sábado con S/. 3000

Días sobre el promedio:
Jueves: S/. 2100
Viernes: S/. 2500
Sábado: S/. 3000
Domingo: S/. 2200

In [31]:
x = 10
y = 3

# asignación múltiple
a, b, c = 1, 2, 3

# asignación encadenada; m, n y p toman el mismo valor
m = n = p = 50

x = x + 1 # actualización

print(x, y, a, b, c, m, n, p)

11 3 1 2 3 50 50 50

In [35]:
#2 + 3 * 4 # 14
#(2 + 3) * 4 # 20
3 * 3 ** 2 / 9 # 3.0

3.0

In [37]:
x = 0.1 + 0.2 # puede mostrar 0.30000000000000004
print(x)
if x == 0.3:
    print(True)
else:
    print(False)

0.30000000000000004
False

In [39]:
texto = '25'
edad = int(texto) # 25
precio = float('19.90') # 19.9
edad2 = str(edad) # '25'

print(edad, precio, edad2)

25 19.9 25

In [44]:
promedio = 16.436
print(f'Promedio: {promedio:.2f}') # 2 decimales

Promedio: 16.44

In [46]:
# 1) Variables y operaciones
ingresos = 1250.50
gastos = 980.10
utilidad = ingresos - gastos
# 2) Indicadores simples
margen = utilidad / ingresos
# 3) Reporte
print(f'Utilidad: S/ {utilidad:.2f}')
print(f'Margen: {margen:.2%}')

Utilidad: S/ 270.40
Margen: 21.62%

In [49]:
# Lista vacía
lista_vacia = []
# Lista con elementos
numeros = [1, 2, 3, 4, 5]
textos = ['Python', 'Java', 'C++']
mixta = [1, 'dos', 3.0, True]

print(numeros)
print(textos)
print(mixta)

[1, 2, 3, 4, 5]
['Python', 'Java', 'C++']
[1, 'dos', 3.0, True]

In [50]:
# Convertir otros iterables a lista
lista_desde_tupla = list((1, 2, 3))
lista_desde_cadena = list('Python')
lista_desde_rango = list(range(5))

print(lista_desde_tupla)
print(lista_desde_cadena)
print(lista_desde_rango)

[1, 2, 3]
['P', 'y', 't', 'h', 'o', 'n']
[0, 1, 2, 3, 4]

In [51]:
# Creación mediante comprensión de listas
cuadrados = [x**2 for x in range(10)]
pares = [x for x in range(20) if x % 2 == 0]

print(cuadrados)
print(pares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
lenguajes = ['Python', 'Java', 'JavaScript', 'C++', 'Ruby']
# Indexación positiva (desde el inicio)
primer_elemento = lenguajes[0] # 'Python'
# Indexación negativa (desde el final)
ultimo_elemento = lenguajes[-1] # 'Ruby'
# Slicing (rebanado)
Subconjunto1 = lenguajes[1:4] # ['Java', 'JavaScript', 'C++']
subconjunto2 = lenguajes[2:] # ['JavaScript', 'C++', 'Ruby']
subconjunto3 = lenguajes[:2] # ['Python', 'Java']

print(lenguajes)
print(primer_elemento)
print(ultimo_elemento)
print(Subconjunto1)
print(subconjunto2)
print(subconjunto3)

['Python', 'Java', 'JavaScript', 'C++', 'Ruby']
Python
Ruby
['Java', 'JavaScript', 'C++']
['JavaScript', 'C++', 'Ruby']
['Python', 'Java']

In [54]:
numeros = [1, 2, 3, 4, 5]
print(numeros)
# Modificar un elemento individual
numeros[0] = 10 # [10, 2, 3, 4, 5]
print(numeros)
# Modificar múltiples elementos mediante slicing
numeros[1:3] = [20, 30, 40] # [10, 20, 30, 40, 4, 5]
print(numeros)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 20, 30, 40, 4, 5]

In [55]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
# Concatenación
combinada = lista1 + lista2 # [1, 2, 3, 4, 5, 6]
# Repetición
repetida = lista1 * 3 # [1, 2, 3, 1, 2, 3, 1, 2, 3]

print(combinada)
print(repetida)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
# Procesar datos de sensores
temperaturas = [23.5, 24.1, 14.4, 23.8, 25.2, 24.7, 32.4]
# Calcular estadísticas básicas
promedio = sum(temperaturas) / len(temperaturas)
maximo = max(temperaturas)
minimo = min(temperaturas)
# Filtrar valores anómalos
temperaturas_validas = [t for t in temperaturas if 20 <= t <= 30]

print(temperaturas)
print(promedio)
print(maximo)
print(minimo)
print(temperaturas_validas)

[23.5, 24.1, 14.4, 23.8, 25.2, 24.7, 32.4]
24.014285714285712
32.4
14.4
[23.5, 24.1, 23.8, 25.2, 24.7]

In [62]:
# Tupla vacía
tupla_vacia = ()
# Tupla con elementos
coordenadas = (10.5, 20.3)
info_persona = ('Juan', 25, 'Ingeniero')
# Tupla de un solo elemento (requiere coma)
tupla_unitaria = (42,)
# Sin paréntesis (tuple packing)
datos = 1, 2, 3

print(tupla_vacia)
print(tupla_unitaria)
print(coordenadas)
print(info_persona)
print(datos)

()
(42,)
(10.5, 20.3)
('Juan', 25, 'Ingeniero')
(1, 2, 3)

In [64]:
# Acceso mediante índices
punto = (10, 20, 30)
x = punto[0] # 10
y = punto[1] # 20
z = punto[2] # 30
print(x,y,z)

# Desempaquetado (tuple unpacking)
a, b, c = punto
print(a, b, c)

# Desempaquetado con *
primer, *resto = (1, 2, 3, 4, 5) # primer = 1, resto = [2, 3, 4, 5]
print(primer)
print(resto)

10 20 30
10 20 30
1
[2, 3, 4, 5]

In [69]:
from collections import namedtuple

# Definir una tupla nombrada (Piensa en una clase)
Punto = namedtuple('Punto', ['x', 'y', 'z'])

# Crear instancias
p1 = Punto(10, 20, 30)
p2 = Punto(z=15, x=25, y=35)

# Acceso por nombre o índice
print(p1.x) # 10
print(p2[1]) # 10

10
35

In [71]:
# Función que retorna estadísticas
def calcular_estadisticas(datos):
    promedio = sum(datos) / len(datos)
    minimo = min(datos)
    maximo = max(datos)
    return (promedio, minimo, maximo)

# Uso
valores = [23, 45, 12, 67, 34]
stats = calcular_estadisticas(valores)
print(stats)
prom, min_val, max_val = stats
print(prom,min_val, max_val)

(36.2, 12, 67)
36.2 12 67

In [75]:
# Diccionario vacío
diccionario_vacio = {}
# Diccionario con elementos
estudiante = {
 'nombre': 'Gustavo Coronel',
 'edad': 22,
 'carrera': 'Ciencia de Datos',
 'promedio': 18.5
}

In [76]:
print(estudiante)

{'nombre': 'Gustavo Coronel', 'edad': 22, 'carrera': 'Ciencia de Datos', 'promedio': 18.5}

In [77]:
# Desde pares clave-valor
producto = dict(nombre='Laptop', precio=1200, stock=15)
print(producto)

# Desde lista de tuplas
items = [('a', 1), ('b', 2), ('c', 3)]
diccionario = dict(items)
print(diccionario)

{'nombre': 'Laptop', 'precio': 1200, 'stock': 15}
{'a': 1, 'b': 2, 'c': 3}

In [78]:
# Crear diccionario mediante comprensión
# Resultado: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
cuadrados = {x: x**2 for x in range(6)}

print(cuadrados)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [87]:
# diccionario
estudiante = {'nombre': 'Ana', 'edad': 22, 'promedio': 18.5}
print(estudiante)


# Acceso directo (lanza error si no existe)
nombre = estudiante['nombre']
print(nombre)


# Método get() (devuelve None o valor por defecto)
edad = estudiante.get('edad')
telefono = estudiante.get('telefono', 'No registrado')
print(edad)
print(telefono)

{'nombre': 'Ana', 'edad': 22, 'promedio': 18.5}
Ana
22
No registrado

In [88]:
estudiante = {'nombre': 'Ana', 'edad': 22, 'carrera': 'Ciencia de Datos'}

# Iterar sobre claves
for clave in estudiante:
    print(clave)
# Iterar sobre valores
for valor in estudiante.values():
    print(valor)
# Iterar sobre pares clave-valor
for clave, valor in estudiante.items():
    print(f'{clave}: {valor}')

nombre
edad
carrera
Ana
22
Ciencia de Datos
nombre: Ana
edad: 22
carrera: Ciencia de Datos

In [91]:
# Contar frecuencia de palabras en un texto
texto = "python es un lenguaje de programación muy es versátil y de facil aplicación"
palabras = texto.split()
print(palabras)


frecuencias = {}
for palabra in palabras:
    frecuencias[palabra] = frecuencias.get(palabra, 0) + 1

print(frecuencias) # {'python': 2, 'es': 2, 'un': 1, 'lenguaje': 1, ...}

['python', 'es', 'un', 'lenguaje', 'de', 'programación', 'muy', 'es', 'versátil', 'y', 'de', 'facil', 'aplicación']
{'python': 1, 'es': 2, 'un': 1, 'lenguaje': 1, 'de': 2, 'programación': 1, 'muy': 1, 'versátil': 1, 'y': 1, 'facil': 1, 'aplicación': 1}